body {
  background-color: #e9f6ff;
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 10px;
}
h2 {
  background-color: #96c2eb;
  border-radius: 20px;
  height: 60px;
  width: 400px;
  padding: 10px;
  color: #ffffff;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 600px;
  background-color: #004aad;
  border:4px solid #023d8d  ;
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
/* https://www.w3schools.com/css/css3_box-sizing.asp */


.sqr {
  width: calc(100% / 7);
  aspect-ratio: 1/1;
  /* border: 4px solid #023d8d; */
  text-align: center;
  font-size: 130px;
  display: inline-block;
  line-height: 100px;
  vertical-align: top;
  background-color: #004aad;
  position: relative;
  cursor: pointer;
  -webkit-mask-image: radial-gradient(  black 55%,transparent 55%);
  mask-image: radial-gradient(black 55%,transparent 55%);
}
/* https://www.w3schools.com/css/css_math_functions.asp */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image */
/* https://www.w3schools.com/css/css3_masking.asp */
/* https://www.w3schools.com/cssref/pr_class_cursor.php */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */

/* .sqr.red-circle {
  background-color: red;
}

.sqr.yellow-circle {
  background-color: yellow;
} */

button {
  height: 60px;
  width: 130px;
  font-size: 40px;
  background-color: #1161d2;
  color: #fffbfb;
  border: 0;
  border-radius: 20px;
  margin: 15px;
}
